.tagline{
    background-image: url("/website/assets/img/bg.jpg");
    background-size: cover; 
}
.tagline h1,h3{
    background-color: rgba(255, 255, 255, 0.746);  
}
.container {
    align-items: center;
}
.heading {
    display: flex;
}
#title {
    padding-top: 2%;
    display: flex;   
    padding-bottom: 1%;  
}
#Portfolio {
    margin-left: 20px;
}
.parrafo {
    line-height: 1;
    margin-left: 20px;
}
.card-title{
    color: rgb(101, 185, 224);
    font-style: bold;
}
.card-img-top {
    margin: 10px;
    max-width: 90%;
    align-self: center;
}
hr {   
    height: 2px; 
    background-color: rgba(75, 75, 75, 0.479);
  }
.card {
    border: 0ch;
    border-color: transparent;
 }