body{
    background: white;
    width: 100%;
    
    
}
.navbar {
    width: 120%;
    align-self: center;
    margin-left: -10%;
    margin-right: -10%;
}
.tagline{
    width: 120%;
    margin-left: -10%;
    margin-right: -10%;
    padding-bottom: 11%;
    padding-top: 2%;
    background-image: url("/website/assets/img/bg.jpg");
    background-position: center;
    background-size: cover; 
}
.tagline h1{
    background-color: rgba(255, 255, 255, 0.746);
    margin: 10px;
    
}.tagline h2{
    background-color: rgba(255, 255, 255, 0.746);
    margin: 10px;
}
.container {
    align-items: center;
  
}
.first_heading {
    background-color: white;
    display: flex;
    padding-top: 10px;
    padding-bottom: 100px;

}

#title {
    padding-top: 2%;
    display: flex;
    width: 900px;
    padding-bottom: 1%;

    
}
#title-a {
    margin-left: 5%;
    font-size: 250%;
    font-style: bold;
}
#title-b {
    margin-left: 1%;
    font-size: 250%;
    font: bold;
}
#parrafo {
    line-height: 1;
    margin-left: 5%;
    font-size: 130%;

}
#image-breaking-bad{
    width: 190%;    
    object-fit: auto;
    border-radius: 100%;
    max-width: 90%;
    padding-right: 20px;
    
    
}
.card-img-top {
    margin: 10px;
    max-width: 90%;
    align-self: center;
}
hr {   
    height: 1px; 
    background-color: rgba(172, 172, 172, 0.479);
    margin: 70px;  
    margin-left: 0%; 
    margin-right: 0%;
  }