
<div class="container">
    <div>
        <h1 class="mt-2">Contact</h1>
        <div id="parrafo4">
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Preasent commodo cursus</p>
            <p>magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

    </div>
    <form class="col-8 text-end offset-2 bg-light border border-gray-500 pt-2 rounded">
        <div class="row mb-3 text-end">
            <div class="col-4">
                <label for="ExampleInputEmail1" class="form-label float-right"><strong>Your E-mail</strong></label>
            </div>
            <div class="col-8">
                <input type="mail" class="form-control" id="ExampleInputEmail1" placeholder="Your email">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-4 text-end">
                <label for="exampleFormControlTextarea1" class="form-label" ><strong>Your
                        message</strong></label>
            </div>
            <div class="col-8">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                    placeholder="Please enter your message here..."></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mx-5 text-center" >Submit</button>
    </form>
    <br>
    <br>
    <br>
    <br>
</div>