<!-- your html code here -->
<div class="container">
    <h1>Contact</h1>
    <h5>It is a long established fact that a reader will be distracted by the readable content of a page when looking at
        its layout.</h5>
    <div class="container" style="width: 500px; height: 175px; background-color: gray; padding: 20px;">
        <p>Please tell us what you think!!!</p>
        <label for="fname">Your Email:</label>
        <input type="text" id="fname" name="fname" placeholder="example@example.com"><br><br>
        <label for="fname">Your message:</label>
        <input type="text" id="fname" name="fname" height="100px" placeholder="Your message here"><br><br>
    </div>

</div>