<!-- your html code here -->
<div class="container heading justify-content-center">
        <div class="col-7 pb-5">
            <div id="title" >
                <p class="h5 bg-success" style="font-size: 100%">This First Heading</p>
                <p class="h5 bg-info text-secondary " style="font-size: 100%"> Will Catch Your Eye</p>
            </div>
            <div  style="font-size: 50%;" >
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                euismod semper. Preasent commodo cursus magna, vel scelerisque nisl
                consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>   
        </div>               
        <div class="w-25 col-3 p-2" >
            <figure class="figure mr-0 bg-warning ">
                <img src="/website/assets/img/1.jpg" class="figure-img img-fluid rounded-circle" alt="A generic square placeholder image with rounded corners in a figure.">              
              </figure>
              </div>
 
    <hr>

</div>
