<!-- your html code here -->
<div class="container" style="display: flex; margin: auto;">
    <div class="left">
        <img src="/website/assets/img/2.jpg" alt="Avatar" class="avatar" style="border-radius: 50%;">
    </div>
    <div class="text">
        <div id="title" style="margin: 20px;">
            <h1 id="title-a">The Second Heading</h1>
            <h1 id="title-b" style="color: gray;"> Is Pretty Good Too.</h1>        
        </div>
        <div id="parrafo2">
            <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis</p>
            <p>euismod semper. Preasent commodo cursus magna, vel scelerisque nisl consectetur. </p>
            <p>Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
    </div>

</div>